    main{
        .gridMain{
            @include grid2 (repeat(8,1fr),repeat(8,1fr),100vw,700px);
            background-image: url(../assets/img/background.png);
            background-repeat: no-repeat;
            background-size: 95vw;
            background-position-x: center;
            background-position-y: 100px;
            .searchBar{
                @include flex3(row,center,center);
            }
        }
    
            section{
                @include flex3(column,center,center);
                @include w-h(100vw,100px);
                padding-top: 30px;
                h1{
                    width: 800px;
                    @include flex3(grow,center,center);
                    color: rgb(185, 243, 49);
                }
                article{    
                    padding-top: 20px;
                    @include w-h(50%,80px);
                    color: aliceblue;
                }
            }
            section2{
                @include flex3(column,center,center);
                .compList{
                    @include flex3(column,center,center);
                }
                .empImg{
                    @include flex3(row,center,center);
                    width: 500px;
                    img{
                        width: 100px;
                        border-radius: 80px;
                        border: 4px solid yellowgreen;

                    }
                    span{
                        padding-left: 20px;
                        color: map-get($colorSitio, color2);
                        width: 400px;
                        font-size: 15px;
                        font-family:Shrikhand;                      
                    }
                }
                .company{
                    img{
                        width: 600px;
                        border-radius: 20px;
                        border: 2px solid chartreuse;
                    }
                    
                }
               
            }
            section3{              
                @include flex3(column,center,center);             
                .textCand{
                    @include flex3(row,center,center);
                    width: 400px;
                    padding-top: 50px;
                    font-size: larger;
                    font-weight: bold;  
                    color: map-get($colorSitio,color2)
                        
                    }
               
            }
                     
    }      

                

                
                
        
          

    
    
